@use 'variables' as *;

.carousel {
    position: static;
    width: 100%;
    max-width: 1200px;
    height: auto;
    z-index: auto;
    opacity: 1;
    transition: opacity 0.3s ease;

    &.hidden {
        visibility: hidden;
        opacity: 0;
    }

    &--full-screen-mobile {
        @media (max-width: $breakpoint-md) {
            position: fixed !important;
            top: 0;
            left: 0;
            width: 100vw !important;
            height: 100vh !important;
            z-index: 1 !important;
            margin-bottom: 0;
            background: rgba(255, 0, 0, 0.1);

            .keen-slider__slide,
            .carousel-image {
                height: 100vh !important;
                min-height: 100vh;
            }
        }
    }

    @media (min-width: $breakpoint-md) {
        display: flex;
        align-items: center;

        .keen-slider__slide {
            display: flex;
            justify-content: center;
        }

        .carousel-image {
            height: 40.625rem;
            width: auto;
            max-width: 100%;
        }
    }
}

.keen-slider__slide {
    width: 100%;

    @media (max-width: $breakpoint-md) {
        overflow: hidden;
        height: 500px;
    }
}

.carousel-image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;

    @media (max-width: $breakpoint-md) {
        height: 500px;
    }
}

.carousel-pagination {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: .8rem;
    gap: 1rem;
    padding: 0 1.5rem;
    max-width: 78rem;

    @media (min-width: $breakpoint-md) {
        padding: 0;
        }

    .slide-description {
        font-size: .75rem;

    }

    .pagination-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;

        button.arrow {
                background: none;
                border: none;
                font-size: 2rem;
                cursor: pointer;
                color: #333;
                user-select: none;
                margin-left: -.5rem; 
                margin-right: -.5rem;
            }
        
            .dots {
                display: flex;
                gap: 0.5rem;
                padding: 0 1rem;
        
                .dot {
                    width: 0.4rem;
                    height: 0.4rem;
                    border-radius: 50%;
                    background: #ccc;
                    border: none;
                    cursor: pointer;
                    padding: 0;
        
                    &.active {
                        background: $grey;
                    }
                }   }
    }


}