@use 'variables' as *;

header {
    position: relative;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 850px;
    

    @media (min-width: $breakpoint-md) {
        padding-left: 0;
        padding-right: 0;
    }

    @media (min-width: $breakpoint-lg) {
        padding-left: 0;
        padding-right: 0;
    }

    .header-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1.875rem 0;

        

        .logo img {
            width: 19.375rem;
            display: block; 
        }

        @media (min-width: $breakpoint-md) {
            align-items: flex-end;
            padding: 3rem 0;
  
        }
    }
}