@use 'variables' as *;

section {
    display: flex;
    flex-direction: column;
}

.project-wrapper {
    position: relative;

.carousel-container {
        width: 100%;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    .name  {
        font-weight: 700;
        margin-top: -14px;
    }

    .project-copy {
        padding: 1rem 1.5rem;
        max-width: 850px;
        margin-top: -24px;
    }

    .rich-text p:first-child {
        margin-top: -14px;
    }

@media (min-width: $breakpoint-md) { 
        display: flex;
        flex-direction: column;
        align-items: center;

        .project-copy {
                padding: 1rem 0;
        }
    }
}